remote-code.yz520gzy.top {
    root * /opt/remote-code/remote-code-gui/dist
    encode zstd gzip

    @api {
        path /v1/* /healthz
    }
    handle @api {
        reverse_proxy 127.0.0.1:8787
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
