# WARNING: Change REMOTE_CODE_CONTROL_PLANE_BOOTSTRAP_SECRET before first boot!
REMOTE_CODE_CONTROL_PLANE_BIND=127.0.0.1:8787
REMOTE_CODE_CONTROL_PLANE_PUBLIC_BASE_URL=https://remote-code.yz520gzy.top
REMOTE_CODE_CONTROL_PLANE_BOOTSTRAP_SECRET=change-this-before-first-boot
REMOTE_CODE_PROFILE_DIR=/var/lib/remote-code/control-plane
